<div>
  <p>
    You have been enrolled in the
    <span style="text-decoration: underline;">{{courseTitle}}</span>
    course.
  </p>
  <b>
    Course Details:
  </b>
  <table>
    <tr>
      <td>
        <b>
          Course Name:
        </b>
      </td>
      <td>{{courseTitle}}</td>
    </tr>
    <tr>
      <td>
        <b>
          Course Description:
        </b>
      </td>
      <td>{{courseDescription}}</td>
    </tr>
  </table>
  <p>
    You can access the course at
    <a href="https://digital-lync.konalms.com/">here</a>.
  </p>
  <p>
    If you have any questions, please contact our team.
  </p>
  <p>
    Thank you,
    <br />
    DigitalLync Team
    <br />
    <b>
      Email:
    </b>
    <a href="mailto:support@digital-lync.com">
      support@digital-lync.com
    </a>
    <br />
    <b>
      Phone:
    </b>
    (+91) 6304982305/9177528678
  </p>
</div>